#root {
    --opale-blue: #2c6cad;
    --opale-blue-light: #6eb8e2;
    --opale-blue-dark: #07509a;
}

.agekey-button {
    height: 40px;
    width: 200px;
    position: relative;
    font-size: 17px;
    border: 1px solid var(--opale-blue);
}

/* .agekey-button-ready {
    padding: 8px 16px;
    background-color: var(--opale-blue);
    color: white;
    cursor: pointer;
}

.agekey-button-ready:hover {
    background-color: var(--opale-blue-dark);
} */

.agekey-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 10px;
}

/* LOADER */
.agekey-loader-svg {
    border: none;
    width: 100%;
    height: 100%;
}

.agekey-loader-svg circle {
    fill: white;
}